*{
    margin:0;
    padding:0;
}
body{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.form{
    margin-top: 10px;
    width : 100%;
    max-width: 400px;
    background-color: white;
    border: 2px solid black; 
    border-radius: 10px ;
}
.submit{
    width : 100%;
    margin-top: 20px;
    padding : 10px;
    background-color: beige;
    cursor: pointer;
}
.container{
    margin-top: 10px;
    justify-content: center;
}