*{
    margin:0;
    padding:0;
}

body{
    padding: 20px;
}

.input{
    margin: 20px;
    width: 300px;
    font-size: 20px;  
}

button{
    padding: 6px;
    font-size: 16px;
    cursor: pointer;
}

.highlight{
    padding: 20px;
    margin-top: 20px;
    background-color: yellow;
}